.nav {
  grid-area: n;
  background-color: rgb(255, 255, 255);
  padding: 20px;
}

.item a {
  color: white;
  text-decoration: none;
}

.item a.activeLink {
  color: rgb(45, 42, 228);
}

.img {
  width: 20px;
  height: 20px;
  border-radius: 7px;
}
